@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

$red-color: #ea2728;
$red-soft: #e68282;
$soft-color: #fbfbfe;
$soft-bg: #f4f4f4;
$dark: #313131;
$bg-dark-soft: #fbfbfe;
$bg-semi-dark: #e7e7e7;
$border: #e8e8e9;
$bg-soft-red: rgba(234, 39, 40, 0.05);
$poppins: "Poppins", sans-serif;
$word: #535353;
$bg-input: #f9f9f9;

* {
  font-family: $poppins;
}
.login {
  .left {
    width: 50%;
    height: 100vh;
    background-color: $soft-color;
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      span {
        margin-top: 20px;
      }
    }
  }
  .right {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .header {
      font-size: 32px;
      font-weight: 600;
    }
    .subHeader {
      font-size: 14px;
    }
    .formLogin {
      width: 440px;
    }
    .description {
      font-size: 12px;
    }
    .input {
      margin-top: 10px;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      display: flex;
      flex-direction: row;
      height: 60px;
      // background-color: rebeccapurple;
      span {
        color: $red-color;
      }
    }
  }
}

.inputAuth {
  border-radius: 10px;
  border: 2px solid $border;
  width: 70%;
  height: 50px;
  outline-color: $red-color;
  padding-left: 20px;
  padding-right: 20px;
}

.buttonAuth {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border-width: 0px;
  background-color: $red-color;
  color: white;
  transition: 1s;
  :hover {
    background-color: $red-soft !important;
  }
}
.foot {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  Link {
    color: $red-color;
  }
}

.red {
  color: $red-color;
  text-decoration: none;
  :focus {
    color: #e68282;
  }
}

#division {
  border-radius: 10px;
  border: 2px solid $border;
  width: 70%;
  height: 50px;
  outline-color: $red-color;
  padding-left: 20px;
  padding-right: 20px;
  appearance: none;
}

.source {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 80px;
  background-color: $red-color;
  .logo {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  .listSource {
    display: flex;
    margin-top: 20vh;
    display: block;
  }
}

.selectMenu {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  transition: 1s;
}
.selectMenuActive {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  transition: 1s;

  background-color: $red-soft;
}
.mainHome {
  display: flex;
}

.menuSidebar {
  transition: 1s;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  left: 80px;
  top: 0px;
  width: 300px;
  height: 100vh;
  background-color: $bg-dark-soft;
  .title {
    padding-left: 20px;
  }
  .listMenuBar {
    color: $word;
    margin-top: 2vh;
    font-size: 16px;
    font-weight: 400;
  }
  .menuSelected {
    display: flex;
    gap: 10px;
    padding-left: 20px;
    align-items: center;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    height: 40px;
    cursor: pointer;
    transition: 1s;
  }
  .menuSelectedActive {
    display: flex;
    margin-top: 10px;
    cursor: pointer;
    transition: 1s;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    align-items: center;
    gap: 10px;
    color: $red-color;
    background: rgba(233, 38, 39, 0.05);
    border-right: 2px solid #ff0000;
    height: 40px;
  }
}

.alerts {
  position: absolute;
  width: 100vw;
  display: flex;
  height: 50px;
  margin-top: 20px;
  justify-content: center;
  transition: 1s;
  .mainAlert {
    width: 400px;
    border: 2px solid $red-soft;
    border-radius: 10px;
    background-color: $red-color;
    display: flex;
    transition: 1s;
    p {
      margin: auto;
      text-align: center;
      color: white;
      transition: 1s;
    }
  }
}
.logout {
  position: absolute;
  bottom: 30px;
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  .menus {
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    background-color: $soft-bg;
    border-radius: 5px;
    border-width: 0px;
    gap: 10px;
    .icons {
      background-color: white;
      width: 40px;
      height: 40px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.headerMenu {
  padding-top: 20px;
  padding-right: 30px;
  width: calc(100%);
  display: flex;
  justify-content: space-between;
  span {
    margin-left: 20px;
    cursor: pointer;
  }
}

.accountCard {
  position: absolute;
  z-index: 99;
  right: 20px;
  top: 70px;
  width: 200px;
  background-color: rgb(238, 220, 220);
  border: 2px solid $red-color;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.w-normal {
  position: absolute;
  top: 10px;
  right: 0px;
  width: calc(100vw - 400px);
}
.w-full {
  width: calc(100vw - 100px);

  position: absolute;
  top: 10px;
  right: 0px;
}

.minimize {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  // border: 2px solid $red-soft;
  top: 20px;
  left: 340px;
  // color: $red-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainProfile {
  display: flex;
  gap: 20px;
  .photoProfile {
    border-radius: 10px;
  }
  .formSetting {
    width: 60%;
    display: flex;
    gap: 2%;
    .firstname {
      width: 49%;
      div{
        margin-bottom: 10px;
      }
    }
    .lastname {
      div{
        margin-bottom: 10px;
      }
      width: 49%;
    }
    // background-color: #535353;
  }
}

.inputSetting {
  background-color: $bg-input;
  border-width: 0px;
  outline-color: $red-color;
  padding-left: 20px;
  height: 40px;
  padding-right: 20px;
  width: 100%;
}
