$red-color: #ea2728;
$red-soft: #e68282;
$soft-color: #fbfbfe;
$dark: #313131;
$bg-dark-soft: #fbfbfe;
$bg-semi-dark : #E7E7E7;
$bg-soft-red:rgba(234, 39, 40, 0.05);


.bgSource {
  background-color: $bg-dark-soft;
}
.mainMenu {
  background-color: white;
  height: 100vh;
}

.mediaMenuComponents {
  padding-top: 30px;
  background-color: $red-color;
  height: 100vh;
}

.bgActive {
  background-color: $red-soft;
}
.row {
  --bs-gutter-x: 0rem;
}
.insideMediaSource {
  cursor: pointer;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  transition: 1s;
}
.insideMediaSource:hover {
  background-color: $red-soft;
}

.darkMode {
  cursor: pointer;
  display: flex;
  justify-content: center;
  // margin-top: 58vh;
  position: absolute;
  left: 30px;
  bottom: 20px;
}

.logo {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.mediaSource {
  margin-top: 10vh;
}
.leftMedia {
  width: 80px;
}
.leftSourceMedia {
  width: 275px;
}
.mainReprocessData {
  width: 100%;
}
.ma {
  margin: auto;
}

.titleMenu {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.logoSource {
  margin-left: 10px;
}

.headerName {
  font-size: 24px;
  font-weight: 600;
}

.imagesHeader {
  border-radius: 50%;
}

.HeaderComponents {
  height: 80px;
  width: 100%;
  // background-color: #d6d6d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.sourceMenu {
  cursor: pointer;

  // margin-left: 10px;
  padding-left: 10px;
  margin-right: 20px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  align-items: center;
  transition: 500ms;
  // background-color: $red-color;
}

.sourceMenu:hover {
  background-color: rgba(234, 39, 40, 0.05);
  color: $red-color;
}

.sourceMenuActive {
  background-color: rgba(234, 39, 40, 0.05);
  color: $red-color;
  border-right: 2px solid #ff0000;
}

.usernameHeader {
  margin-left: 10px;
}

.selectMediaTags {
  margin-left: 20px;
  padding-left: 20px;
  margin-right: 20px;
  padding-right: 20px;
  width: calc(100% - 40px);
  height: 40px;
  border-radius: 10px;
  border: 1px solid $red-soft;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  background-color: white;
}

.buttonFile{
  height: 40px;
  width: 130px;
  background-color: $bg-soft-red;
  border-radius: 10px;
  color: $red-color;
  font-size: 14px;
  border: 2px solid $red-color;
}

.upload{
  display: flex;
  justify-content: flex-end;
  margin-right: calc(0% + 20px);
  margin-top: 20px;
}

.checker{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}
.inputCheck{
  padding-left: 20px;
  font-size: 14px;
  height: 40px;
  width: calc(90% - 80px);
  border-radius: 10px;
  border: 2px solid $red-color;
}

.buttonCheck{
  margin-left: 20px;
  margin-right: 20px;
  width: 98px;
  height: 40px;
  color: white;
  background-color: $red-color;
  // border: 2px solid $red-color;
  border-width: 0px;
  border-radius: 10px;
}

.buttonCheck:disabled{
  background-color: $red-soft;
}

.checkerData{
  margin-top: 20px;
}

.bgDark{
  background-color: #E8E8E9;
}

.tableData{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.mediaTagsForm{
  background-color: $bg-semi-dark;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  width: fit-content;
  display: flex;
}

.sourceForm{
  display: flex;
  align-items: center;
  height: 40px;
}

.buttonForm{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 40px;
}

.submitTable{
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.loading{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #31313164;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftSourceMenu{
  height: 100vh;
}

.signOut{
  background-color: $bg-semi-dark;
  margin-top: calc(46vh);
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 5px;
  transition: 1s;
  cursor: pointer;
}
.signOut:hover{
  background-color: #313131;
  color: white;
}

.signOut span{
  margin-right: 10px;
}